############################################################################
# This file is part of FreeFEM.                                            #
#                                                                          #
# FreeFEM is free software: you can redistribute it and/or modify          #
# it under the terms of the GNU Lesser General Public License as           #
# published by the Free Software Foundation, either version 3 of           #
# the License, or (at your option) any later version.                      #
#                                                                          #
# FreeFEM is distributed in the hope that it will be useful,               #
# but WITHOUT ANY WARRANTY; without even the implied warranty of           #
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the            #
# GNU Lesser General Public License for more details.                      #
#                                                                          #
# You should have received a copy of the GNU Lesser General Public License #
# along with FreeFEM. If not, see <http://www.gnu.org/licenses/>.          #
############################################################################

*#
*ListOfUnAllocPtr.bin
*Makefile.in
*TAGS
*.deps
*.dll
*.gdb_history
*.libs
*autosave.edp
*.DS_Store
*.a
*.bak
*.dll
*.done
*.dylib
*.exe
*.o
*.orig
*.rej
*.so
*~
*.dirstamp
*freefem++.pref
WHERE*
CheckAll-out
examples/*/*.b
examples/*/*.dat
examples/*/*.dt
examples/*/*.edp-out
examples/*/*.eps
examples/*/*.faces
examples/*/*.gbb
examples/*/*.gmsh
examples/*/*.hb
examples/*/*.matrix
examples/*/all.edp
examples/*/*.mesh
examples/*/*.msh
#  build with gmsh tool ..
!examples/plugin/cube.msh
examples/*/*.points
examples/*/*.ps
examples/*/*.trs
examples/tutorial/theTables
FreeFem++v.*_linux-.*_libc-.*
Makefile-for-Checkam
*Makefile
*Output
*WindowsPackage.iss
*.htaccess
*aclocal.m4
*autom4te.cache
*build-arch-stamp
*build-indep-stamp
*c-.*
*config-version.h
*config.h
*config.h.in
*config.status
*config_LIB_INFO
*configure
*configure-stamp
*configure.lineno
*debian/.*.substvars
debian/files
debian/freefem++
debian/freefem++-cs
debian/freefem++-doc
debian/freefem++-doc.postinst.debhelper
debian/freefem++-doc.prerm.debhelper
debian/freefem++-glx
debian/freefem++-mpich
debian/freefem++-nw
debian/freefem++-x11
debian/tmp
AppDir/
3rdparty/arpack/ARPACK/
3rdparty/arpack/arpack96.tar.gz
3rdparty/arpack/arpack++
3rdparty/arpack/arpack++.tar.gz
3rdparty/arpack/patch.tar.gz
3rdparty/bin/
3rdparty/blacs/BLACS/
3rdparty/blacs/Bmake.inc
3rdparty/blas/ATLAS
3rdparty/blas/BLAS/
3rdparty/blas/CBLAS/
3rdparty/blas/OpenBLAS/
3rdparty/blas/WinNT_PPRO256
3rdparty/blas/atlas.*.tar.bz2
3rdparty/blas/atlas321_WinNT_PPRO.zip
3rdparty/blas/blas.tgz
3rdparty/blas/blas_xerbla.f
3rdparty/blas/cblas.tgz
3rdparty/boost
3rdparty/fftw/FAIRE
3rdparty/fftw/FAIT
3rdparty/fftw/cxxflags
3rdparty/fftw/fftw-
3rdparty/gmm/FAIRE
3rdparty/gmm/FAIT
3rdparty/gmm/cxxflags
3rdparty/gmm/gmm-.*/
3rdparty/include/
3rdparty/ipopt/Ipopt-3.10.2/
3rdparty/ipopt/Makefile.inc
3rdparty/lib/
3rdparty/lib/libipopt.la
3rdparty/lib/pkgconfig/ipopt.pc
3rdparty/metis/FAIRE
3rdparty/metis/metis-*
3rdparty/mmg/build
3rdparty/mmg/mmg-sources
3rdparty/mmg/ff-flags
3rdparty/mmg/ff-flags.old
3rdparty/mmg/tag-tar
3rdparty/mmg3d/ff-flags
3rdparty/mmg3d/mmg3d4/
3rdparty/mmg3d/tag-tar-158547
3rdparty/mshmet/ff-flags
3rdparty/mshmet/mshmet.2012.04.25/
3rdparty/mumps-seq/FAIRE-4.10.0
3rdparty/mumps-seq/Makefile.inc
3rdparty/mumps/FAIRE-4.10.0
3rdparty/mumps-seq/MUMPS_*
3rdparty/mumps/MUMPS_*
3rdparty/mumps/Makefile.inc
3rdparty/nlopt/Make.defs
3rdparty/nlopt/nlopt-2.2.4/
3rdparty/parmetis/FAIRE
3rdparty/parmetis/FAIRE-mpi
3rdparty/parmetis/parmetis-*
3rdparty/parmmg/build
3rdparty/parmmg/parmmg-sources
3rdparty/parmmg/ff-flags
3rdparty/parmmg/ff-flags.old
3rdparty/parmmg/tag-tar
3rdparty/pkg/
3rdparty/pkg/blacstester.tgz
3rdparty/pkg/freeyams.2010.02.22.tgz
3rdparty/pkg/mpiblacs-patch03.tgz
3rdparty/pkg/mpiblacs.tgz
3rdparty/pkg/scalapack-1.8.0.tgz
3rdparty/scalapack/FAIRE
3rdparty/scalapack/SLmake.inc
3rdparty/scalapack/scalapack-*
3rdparty/scotch/FAIRE
3rdparty/scotch/Makefile.inc
3rdparty/scotch/scotch-v*/
3rdparty/share/coin/doc/Ipopt/AUTHORS
3rdparty/share/coin/doc/Ipopt/LICENSE
3rdparty/share/coin/doc/Ipopt/README
3rdparty/share/coin/doc/Ipopt/ipopt_addlibs_c.txt
3rdparty/share/coin/doc/Ipopt/ipopt_addlibs_cpp.txt
3rdparty/share/coin/doc/Ipopt/ipopt_addlibs_f.txt
3rdparty/share/info/dir
3rdparty/share/info/fftw3.info
3rdparty/share/info/fftw3.info-1
3rdparty/share/info/fftw3.info-2
3rdparty/share/man/man1/fftw-wisdom-to-conf.1
3rdparty/share/man/man1/fftw-wisdom.1
3rdparty/share/man/man3/nlopt.3
3rdparty/superlu/FAIRE
3rdparty/superlu/FAIT
3rdparty/superlu/superlu-sources
3rdparty/superlu/SuperLU_
3rdparty/superlu/ff-FLAGS
3rdparty/tag-compile-pkg
3rdparty/tetgen/FAIRE
3rdparty/tetgen/cxxflags
3rdparty/tetgen/tetgen1.4.3/
3rdparty/umfpack/Make.include
3rdparty/umfpack/SuiteSparse/
3rdparty/umfpack/SuiteSparse_config.mk
3rdparty/umfpack/UFconfig.mk
3rdparty/umfpack/UMFPACKv4..
3rdparty/umfpack/UMFPACKv4...tar.gz
3rdparty/yams/FAIRE
3rdparty/yams/ff-flags
3rdparty/yams/freeyams.*/
3rdparty/ff-petsc/petsc-*/
FreeFEM-documentation.pdf
FreeFEM-documentation.pdf.md5
bin/script/PostInstall.sh
*ex.*.eps
*ex.*.out
*ex.*.ps
*ex.*.so
*ex.*.trs
*.log
*.log.err
*.vtu
*.vtk
*.h5
*.BB
*.xmf
*.pvd
examples/3d/A.txt
examples/3d/B.txt
examples/3d/dd.bb
examples/3d/dd.meshb
examples/3d/sphere.points
examples/bamg/square/*.am_fmt
examples/bamg/square/*.bb
examples/bamg/square/*.mesh
examples/bamg/test/DATA_bamg
examples/bamg/test/*.am_fmt
examples/bamg/test/*.BB
examples/bamg/test/*.bb
examples/bamg/test/*.mesh
examples/bamg/test/*.mtr
examples/chapt3/J.txt
examples/chapt3/graph.txt
examples/eigen/machinefile
examples/plugin/ThFF.txt
examples/plugin/ThFF_Metric.txt
examples/plugin/TriQA.txt
examples/plugin/TriQA_Metric.txt
examples/plugin/ff-c++
examples/plugin/ff-get-dep
examples/plugin/ff-pkg-download
examples/plugin/include
examples/plugin/include.done
examples/plugin/ipopt.out
examples/plugin/machinefile
examples/plugin/pippo.data
examples/plugin/pippo.dx
examples/plugin/tetgenholeregion.edp
examples/mpi/cube.idp
examples/mpi/machinefile
examples/misc/gmon.out
examples/misc/speedtest.out
examples/tutorial/.*.ps
examples/tutorial/A.matrix
examples/tutorial/f.txt
examples/tutorial/lestables
examples/tutorial/machinefile
examples/tutorial/makeref.edp
examples/tutorial/mm.points
examples/tutorial/plot.gp
examples/tutorial/toto..*
examples/tutorial/u.txt
examples/misc/.*.BB
examples/misc/.*.points
examples/misc/err.dat
examples/misc/machinefile
examples/misc/toto.txt
*freefem++-...*.zip
*freefem++-....-.
*freefem++-....-..
html/
plugin/seq/ff-c++
plugin/seq/ff-get-dep
plugin/seq/ff-pkg-download
plugin/seq/ffmaster
plugin/seq/include/
plugin/seq/load.link
*speedtest.out
src/FreeFem++
src/FreeFem++-g
src/FreeFem++-glx
src/FreeFem++-glx-g
src/FreeFem++-mpi
src/FreeFem++-mpi-g
src/FreeFem++-nw
src/FreeFem++-nw-g
src/FreeFem++-x11
src/FreeFem++-x11-g
src/MakeDepend
src/agl/FreeFem++-agl
src/agl/FreeFem++-agl-g
src/bamg/bamg
src/bamg/cvmsh2
src/bamg/drawbdmesh
src/bin-win32/ff-c++
src/fflib/strversionnumber.cpp
src/glx/FreeFem++-glx
src/glx/FreeFem++-glx-g
src/ide/FreeFem++-client
src/ide/FreeFem++-cs
src/ide/FreeFem++-ide
src/ide/FreeFem++-ide-g
src/ide/FreeFem++-server
src/ide/Thumbs.db
src/ide/testhighlight
src/lglib/lg.output
src/medit/compil.date
src/medit/ffmedit
src/medit/pinking.no-optffmedit
src/mpi/FreeFem++-mpi
src/mpi/ff-mpirun
src/nw/FreeFem++
src/nw/FreeFem++-nw
src/nw/ffglut
src/std/FreeFem++
src/std/FreeFem++-g
src/versionnumber.hpp
src/x11/FreeFem++-x11
src/x11/FreeFem++-x11-g
src/mpi/ffapi.cpp
src/mpi/lg.tab.cpp
src/mpi/mymain.cpp
src/mpi/sansrgraph.cpp
src/mpi/compositeFESpace.cpp
*stamp-h
*stamp-h1
*test-driver
examples/eigen/modes.txt
examples/plugin/ffmaster
examples/plugin/ffmaster.dSYM/
examples/plugin/toto.dt
examples/tutorial/A.txt
examples/tutorial/toto.Th
examples/tutorial/toto.am_fmt
examples/tutorial/toto.dbg
examples/tutorial/u2.txt
examples/examples/J.txt
examples/examples/graph.txt
examples/plugin/pipe.png
*.ppm
examples/plugin/testsavemedit.solb
examples/plugin/testsavemedit.meshb
examples/mpi/dd/
ff/ff.xcodeproj/project.xcworkspace/
ff/ff.xcodeproj/xcuserdata/
config.param
config.path
3rdparty/ff-petsc/Make-petsc-download.mk
3rdparty/ff-petsc/Makefile.inc
3rdparty/ff-petsc/do-sudo
3rdparty/fftw/fftw-*/
3rdparty/gmm/gmm-4.2/
3rdparty/ipopt/Ipopt-3.12.4/
3rdparty/scalapack/scalapack-2.0.2/
3rdparty/scotch/scotch_6.0.4/
3rdparty/superlu/SuperLU_5.2.1/
3rdparty/tag-install-other
3rdparty/tetgen/tetgen1.5.1-beta1/
freefem++doc.pdf
FreeFem++-CoCoa
FreeFem++.app.tgz
FreeFem++.app/
freefem++-*.tar.gz
freefem++-*.zip
FreeFem++.pmdoc/
FreeFem++.scrpt-txt
ff
##  file create by autoreconf -i
INSTALL
compile
config.guess
config.sub
depcomp
install-sh
missing
mkinstalldirs
test-driver
ar-lib
mdate-sh
ylwrap
py-compile
texinfo.tex
# Local Variables:
# mode:conf
# ispell-local-dictionary:"british"
# coding:utf-8
# End:
