body {
	padding: 25px;
	background-repeat: repeat;
	margin: 0px 0px 10px 0px;
	font-family: Optima, sans-serif;
    font-size: small;
}

div.content{
	background: white;
    padding: 10px;

	margin-left: auto;
	margin-right: auto;
}
div.thetitle {
    font-size: 500%;
	color: black;
	font-family: Comic sans MS;
	vertical-align: baseline;
	align: center;
	font-weight: bold;
}
div.title {
    font-size: xx-large;
	color: black;
	font-family: Arial Rounded MT Bold, Arial, sans-serif;
	vertical-align: baseline;
	font-weight: bold;
}
	
div.subtitle {
	font-size: medium;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 10px;
}

a.subTitle:link,a.subTitle:visited {
	color: black;
}

a.subTitle:hover,a.subTitle:active {
	color: #333;
}

a.titleLink:link,a.titleLink:visited {
	color: black;
}

a.titleLink:hover,a.titleLink:active {
    color: #333;
}
	
a:link,a:visited {
	text-decoration: none;
	color: #009;
}
	
a:hover,a:active {
	color: #00f;
}

div.menu {
	padding: 0px;
	font-size: small;
}

div.menuTitle {
	border-bottom: thin solid #999;
	font-weight: bold;
	margin-bottom: 5px;
	padding: 2px;
	margin: 0px;
	color: #b33;
}

div.menuItem {
	margin: 3px 0px 0px 0px;
	font-size: small;
}

div.thema {
	font-family: Optima, sans-serif;
	font-size: medium;
	border-bottom: thin solid gray;
}

div.themaTitle {
	font-family: Optima, sans-serif;
	font-size: small;
	font-weight: bold;
	margin: 10px 0px 10px 0px;
	color: #b33;
}

div.themaBlog {
	font-family: Optima, sans-serif;
	font-size: small;
	text-align: justify;
}

	
